
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 205, 241);
    padding: 30px;
    background-image: url('Images/starBackground.png');
    
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.scoreBoard{
    display: flex;
    align-items: center;
    
    font-family: "Modak";
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(81, 34, 157);
    

}

.gameBoard{
    background-color: rgb(248, 246, 246);
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    border: rgb(74, 0, 139) 1px solid;
}
.square{
    border: .5px solid rgb(199, 199, 199);
   
}
.snake {
    background-color: rgb(143, 84, 177);
}

.berry {
    background-image: url(./Images/berryCute.png);
    background-size: cover;
}

.buttons-container{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:10px;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Modak';
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
     transition: all 0.15s;
     
    }
    .buttons-container:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#854bc7;
    border-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .buttons-container{
    display:block;
    margin:0.4em auto;
    }
    }
    


    .text{
    
    height: 200px;
    display: inline-block;
    font-size: 70px;
    line-height: 84%;
    font-family: "Modak";
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 38px;
    text-shadow: 7px 7px 0px #400a6f8e; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200px' height='200px' viewBox='0 0 400 400'%3e%3cdefs%3e%3cfilter id='filter' width='400px' height='400px' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-color='%23cd9cf2' flood-opacity='1' x='0' y='0' width='250px' height='250px' result='flood3'%3e%3c/feFlood%3e%3cfeFlood flood-color='%23c2e9fb' flood-opacity='1' x='150px' y='150px' width='250px' height='250px' result='flood4'%3e%3c/feFlood%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood3' edgeMode='none' result='blur1'%3e%3c/feGaussianBlur%3e%3cfeGaussianBlur stdDeviation='50 50' x='0%25' y='0%25' width='100%25' height='100%25' in='flood4' edgeMode='none' result='blur2'%3e%3c/feGaussianBlur%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur2' in2='SourceGraphic' result='blend5'%3e%3c/feBlend%3e%3cfeBlend mode='normal' x='0%25' y='0%25' width='100%25' height='100%25' in='blur1' in2='blend5' result='blend6'%3e%3c/feBlend%3e%3c/filter%3e%3c/defs%3e%3crect width='400' height='400' x='0' y='0' fill='%2366a6ff' filter='url(%23filter)'%3e%3c/rect%3e%3c/svg%3e");
}
    }


/*header {
    width: 600px;
    height: 100px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    border: darkmagenta 1px solid;
    }